<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.rmgyantra.authentications.Oauth2Authentication"/>
      <class name="com.rmgyntra.test.RunningADemoClass">
      </class>
      <class name="com.rmgyantra.authentications.QueryParameter"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
